# Sources brutes (trop lourdes pour GitHub, limite 100 Mo par fichier) : rester en local
PDF/
img/IMG_*
img/PHOTO-*
img/ae8331d2-f7a1-4e29-b63d-3b2509b42dba.jpg
img/67cc5dd1-a5b3-444e-98bd-ff12018cac32.JPG
